   <br /><br />
  
 <h1 >Library</h1>

  <h2>{{title}}</h2>
  <a href="/tasks"></a>
  <br /><br />

  <table class="table">
    <tr>
      <th>ID</th>
      <th>Book name</th>
      <th>Author Name</th>
      <th>Publication Date</th>
      <th>Rack Number</th>
    </tr>
    {{#each tasks}}
      <tr>
        <td class="py-3">{{this.id}}</td>
        <td class="py-3">{{this.Bookname}}</td>
        <td class="py-3">{{this.AuthorName}}</td>
        <td class="py-3">{{this.PublicationDate}}</td>
        <td class="py-3">{{this.RackNumbe}}</td>
         <td class="py-3"></td>
        <td>
            <a href="/products/edit-form/{{this.id}}" class="btn btn-info btn-sm">Edit</a>
            <a href="/products/delete/{{this.id}}" class="btn btn-danger btn-sm">Delete</a>
        </td>
      </tr>
    {{/each}}
  </table>
</div>